cfg_backups/
Code - OSS/
dconf/
dolphinrc/
dunst/
fastfetch/
gh/
go/
gtk-3.0/
gtk-4.0/
hyde/
kdeglobals/
Kvantum/
lvim/
menus/
mimeapps.list/
nwg-look/
procps/
pulse/
qt5ct/
qt6ct/
swaylock/
thorium/
wlogout/
xsettingsd/
yay/
swappy/
discord/
spotify/
spicetify/
discordcanary/
